<h1>Formulaire</h1>
	<form action="/status" method="post">
		Author :<br>
		<input type="text" name="author">
		<br>
		Content :<br>
		<input type="text" name="content">
		<br><br>
		<input type="submit" value="Submit">
	</form>