<h1>Entre ton statut</h1>
<form action="/statuts" method="post">
	Author :<br>
	<input type="text" name="author" class="form-control">
	<br>
	Content :<br>
	<input type="text" name="content" class="form-control">
	<br><br>
	<input type="submit" value="Submit" class="btn btn-primary">
</form>
