<form class="form-inline">
	<select name="author" class="form-control">
		<% @authors.each do |author| %>
			<option ><%= author.first %></option>
		<% end %>
	</select>
	<button type="submit" class="btn btn-primary">valider</button>
</form>

<% @statuts.each do |statut| %>
  <h1><%= statut[0] %></h1>
  <p><%= statut[1] %></p>
  <p><%= statut[2] %></p>
<% end %>